{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}

<div class="row question">
    <div class="col-3">
        <img src="{% static '/img/rabbit.jpg' %}" alt="" class="question-image">

        <div class="like-dislike-container">
                <span>
                    <button class="like" onclick="">
                        <i class="fas fa-thumbs-up"></i>
                    </button>

                    <span class="like-count">{{ question.total_likes }}</span>

                    <button class="dislike" onclick="">
                        <i class="fas fa-thumbs-down"></i>
                    </button>
                </span>
        </div>
    </div>
    <div class="col-9">
        <div class="question-title"><a href="">{{ question.title }}</a></div>
        <div class="question-text">{{ question.content }}
        </div>
        <div class="question-details">
            <span>answers ({{ question.answers_count }})</span>
            <span class="tags">Tags:</span>
            {% for tag in question.tags.all %}
                <a class="tag" href="{% url 'tag' tag_name=tag %}">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>
</div>

<hr style="height:2px; border-width:0; color: black; background-color: black;">

{% for answer in pagination_answers %}
    {% include 'components/answer-item.html' %}
{% endfor %}

{% include 'components/pagination.html' with items=pagination_answers %}

<hr style="height:2px; border-width:0; color: black; background-color: black;">

{% if form.non_field_errors %}
    <div class="error-message">
        {% for error in form.non_field_errors %}
            <span>{{ error }}</span>
        {% endfor %}
    </div>
{% endif %}
<form action="{% url 'question' question_id=question.id %}" method="post">
    {% csrf_token %}
        {% if field.errors %}
            <div class="error-message">
                {% for error in field.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
        <div class="row ask_question">
        {{ form.answer}}
        </div>
    <input class="btn btn-dark" style="margin-bottom: 30px" type="submit" value="Answer!">
</form>


{% endblock %}
