{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<h2 class="block-title">Settings: Dr. Pepper</h2>

<form action="/settings" method="post" enctype="multipart/form-data">
    <input type="hidden" name="" value="">

    <div class="form-error"></div>
    <div class="row ask_question">
        <div class="col-2" style="margin-right: 10px">
            Login
        </div>
        <input type="text" name="username" value="dr_pepper" class="col-9 log-field" required=""
               id="id_username">
    </div>

    <div class="form-error"></div>
    <div class="row ask_question">
        <div class="col-2" style="margin-right: 10px">
            Email
        </div>
        <input type="email" name="email" value="dr.pepper@mail.ru" class="col-9 log-field"
               maxlength="320" required="" id="id_email">
    </div>

    <div class="form-error"></div>
    <div class="row ask_question">
        <div class="col-2" style="margin-right: 10px">
            NickName
        </div>
        <input type="text" name="first_name" value="Dr. Pepper" class="col-9 log-field" required=""
               id="id_first_name">
    </div>

    <div class="form-error"></div>
    <div class="row ask_question">
        <div class="col-2" style="margin-right: 10px">
            Upload avatar
        </div>
        <input type="file" name="image" class="col-9" accept="image/*" id="id_image">
    </div>

    <span>Your avatar now:</span>
    <div class="col-9" style="margin-left: 145px; margin-bottom: 30px">
        <img src="../static/img/zzzaya.jpg" alt="Now avatar" width="100px" height="100px">
    </div>
    <input style="margin-left: 145px; width: 90px" type="submit" value="Save">
</form>
{% endblock %}