<!doctype html>
<html lang="en" class="h-100" data-bs-theme="auto">
<head>
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">

    <title>AskPupkin</title>
</head>
<body class="d-flex flex-column h-100">

<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <div class="col-2">
                <a class="navbar-brand footer-title" href="#">AskPupkin</a>
            </div>

            <div class="col-7 collapse navbar-collapse" id="navbarCollapse">
                <form class="d-flex" role="search">
                    <input style="width:580px" class="form-control me-2" type="search" placeholder="Search"
                           aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Ask!</button>
                </form>
            </div>

            <div class="col-3">
                <div class="row" style="width: auto; margin-left: 30%">
                    <div class="col-2">
                        <img src="../static/img/zzzaya.jpg" alt="Logo" width="50" height="44"
                             class="d-inline-block align-text-top">
                    </div>

                    <div class="col-8" style="margin-left: 15px">
                        <a class="username" href="">Dr. Pepper</a>
                        <div class="row-cols-3">
                            <a href="" style="color:#fff; margin-right: 8px;">settings</a>
                            <a href="" style="color:#fff ">log out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main class="flex-shrink-0">
    <div class="container">
        <div class="row page-content">
            <div class="col-8">
                <div class="row block-title">
                    <h2>Tag: bender</h2>
                </div>

                <div class="row questions-item">
                    <div class="col-3">
                        <img src="../static/img/rabbit.jpg" alt="" class="question-image">

                        <div class="like-dislike-container">
                            <span>
                                <button class="like" onclick="">
                                    <i class="fas fa-thumbs-up"></i>
                                </button>

                                <span class="like-count">0</span>

                                <button class="dislike" onclick="dislikeQuestion()">
                                    <i class="fas fa-thumbs-down"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="question-title"><a href="">First question</a></div>
                        <div class="question-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen
                            book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.
                        </div>
                        <div class="question-details">
                            <a href="">answers (3)</a>
                            <span class="tags">Tags:</span>
                            <a class="tag" href="">black-jack</a>
                            <a class="tag" href="">bender</a>
                        </div>
                    </div>
                </div>

                <div class="row questions-item">
                    <div class="col-3">
                        <img src="../static/img/rabbit.jpg" alt="" class="question-image">

                        <div class="like-dislike-container">
                            <span>
                                <button class="like" onclick="">
                                    <i class="fas fa-thumbs-up"></i>
                                </button>

                                <span class="like-count">0</span>

                                <button class="dislike" onclick="dislikeQuestion()">
                                    <i class="fas fa-thumbs-down"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="question-title"><a href="">First question</a></div>
                        <div class="question-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen
                            book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.
                        </div>
                        <div class="question-details">
                            <a href="">answers (3)</a>
                            <span class="tags">Tags:</span>
                            <a class="tag" href="">black-jack</a>
                            <a class="tag" href="">bender</a>

                        </div>
                    </div>
                </div>

                <div class="row questions-item">
                    <div class="col-3">
                        <img src="../static/img/rabbit.jpg" alt="" class="question-image">

                        <div class="like-dislike-container">
                            <span>
                                <button class="like" onclick="">
                                    <i class="fas fa-thumbs-up"></i>
                                </button>

                                <span class="like-count">0</span>

                                <button class="dislike" onclick="dislikeQuestion()">
                                    <i class="fas fa-thumbs-down"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="col-9">
                        <div class="question-title"><a href="">First question</a></div>
                        <div class="question-text">
                            Lorem Ipsum is simply dummy text of the printing and typesetting
                            industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                            when an unknown printer took a galley of type and scrambled it to make a type specimen
                            book.
                            It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.
                        </div>
                        <div class="question-details">
                            <a href="">answers (3)</a>
                            <span class="tags">Tags:</span>
                            <a class="tag" href="">black-jack</a>
                            <a class="tag" href="">bender</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="row info-bar">
                    <div class="popular-tags">
                        <h2>Popular tags</h2>
                        <div class="popular-tags-list">
                            <span class="badge bg-info text-light">Perl</span>
                            <span class="badge bg-info text-dark">Python</span>
                            <span class="badge bg-primary">TechnoPark</span>
                            <span class="badge bg-light text-dark">MySQL</span>
                            <span class="badge bg-success">Django</span>
                            <span class="badge bg-primary text-dark">Mail.Ru</span>
                            <span class="badge bg-secondary">Voloshin</span>
                            <span class="badge bg-dark">Firefox</span>
                        </div>
                    </div>
                    <br/>
                    <div class="best-members">
                        <h2>Best members</h2>
                        <ul class="members">
                            <li class="list-members-item"><a href="">Mr. Freeman</a></li>
                            <li class="list-members-item"><a href="">Dr. House</a></li>
                            <li class="list-members-item"><a href="">Bender</a></li>
                            <li class="list-members-item"><a href="">Queen Victoria</a></li>
                            <li class="list-members-item"><a href="">V. Pupkin</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item active" aria-current="page"><span class="page-link">1</span></li>
                <li class="page-item"><a class="page-link" href="">2</a></li>
                <li class="page-item"><a class="page-link" href="">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</main>

<script src="../static/js/bootstrap.js"></script>

</body>
</html>
